html{
   scroll-behavior: smooth;
}

#body {

   /*   background-color: brown;*/
   /*   background-image:url("img/1.JPG");*/
   /*   background-size:cover;*/
}

#div1 {
   margin-top: 310px;
   margin-bottom: 200px;

}

#div2 {
   margin-top: 60px;
}

.div1 {}

.p {
   font-size: 500%;
   margin-left: 10%;
   margin-right: 10%;
   font-family: 'Neucha', cursive;
   text-align: center;
   color: white;
 

}


.p2 {
   font-size: 200%;
}

#topbar1 {
   /*   background-color:#600505;*/
   background-color: brown;
   font-family: 'Neucha', cursive;
   font-size: 160%;
   
}

#topbar1 a:hover{
   color:#ffd60a;
   transition-duration:0.3s;
}

.name {
   width: 160px;

   position: relative;
   bottom: 5;
}



#div3 {
   padding-bottom: 15px;
   padding-top: 15px;
   background-color: brown;

}


#img1 {
   margin-left: auto;
   margin-right: auto;
}

.part1 {
   background-image: url("img/1.JPG");
   height: 75%;
   width: 100%;
   background-size: cover;
   background-position: 0 -100;
}

.part2 {
   background-color: brown;
   height: 100%;
}

#newtoguitar{
     position: relative;
   top: 20%;
   
}

#guitarmadeasy{
   position:relative;
   top:2%;
}

#learnmore{
  
   position:relative;
   top:30%;
   margin-left:auto
   
   
   
}


.button{
   background-color:brown;
   transition-duration:0.3s;
   
   
   

   
}


/*
.button{
   -webkit-transition-duration: 0.3s;
  transition-duration: 0.4s;
   background-color:darkred;
   border-radius:200px;
   font-family: 'Neucha', cursive;
   font-size:150%;
   color:white;
   
}
.button:hover{
   background-color:black;
}
*/
